#accordion {
  margin-bottom: 45px;

  .accordion-bar {
    border: 1px solid $palette3;
    padding: 10px 15px;
    text-align: left;
    border-radius: 10px;
    cursor: pointer;

    span {
      color: $palette2;

      &.accordion-icon {
        float: right;
      }
    }
  }

  .accordion-content {
    margin-top: 0px;
    max-height: 0;
    opacity: 0;
    visibility: hidden;

    transition: max-height 400ms linear 0s, margin 400ms linear 0s,
      max-height 400ms linear 0s, visibility 400ms linear 0s,
      opacity 200ms linear 0ms;

    &.open {
      margin-top: 20px;
      max-height: 400px;
      opacity: 1;
      visibility: visible;

      @include mobile() {
        max-height: 800px;
      }
    }
  }
}
