@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

// Set your brand colors
$palette1: #a7d129;
$palette2: #616f39;
$palette3: #3e432e;
$palette4: #000000;

// Update Bulma's global variables
$family-sans-serif: "Overlock", sans-serif;
$primary: $palette1;
$secondary: #5329d1;

//Links
$link:  $palette2;
$link-active:  $palette3;
$link-focus: $palette3;
$link-hover: $palette3;

$widescreen-enabled: false;
$fullhd-enabled: false;



// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

$navbar-item-hover-color: $secondary;

$navbar-item-hover-background-color: $palette1;


// Import only what you need from Bulma
@import "node_modules/bulma/bulma";