@import 'globalVariable.scss';
@import 'accordion.scss';

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    user-select: none;
    overflow-x: hidden;

    #tabs {
        margin-top: 1.5rem;
    }

    #main-content {
        min-height: 600px;

        margin-bottom: 2rem;

        @include mobile() {
            padding: 0 1rem;
        }


        #about {
            @include mobile() {
                padding: 1rem 3rem;
            }

            .card {
                .card-content {
                    padding: 1.5rem 0.5rem;
                }

                .content {
                    .logo-links {
                        a {
                            span {
                                margin: 0 3px;

                                &.gmail {
                                    color: #d44638;
                                }

                                &.linkedin {
                                    color: #2867b2;
                                }

                                &.facebook {
                                    color: #3b5998;
                                }
                            }
                        }
                    }
                }
            }

            .content {
                p {
                    em {
                        &.bootstrap{
                            color:#7952b3
                        }

                        &.bulma{
                            color: #00d1b2;
                        }
                    }
                }
            }
        }

        #education {
            .accordion {
                transition: height 1s ease-in-out;

                .content {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    .info {

                        width: 60%;

                        p {
                            line-height: 50px;
                        }
                    }

                    .table {
                        width: 30%;
                    }

                    @include mobile(){
                        flex-direction: column;

                        .info {

                            width: 90%;
    
                        }
    
                        .table {
                            width: 90%;
                        }
                    }
                }
            }
        }

    }

    #footer {
        .heart {
            color: red;
            font-weight: 800;
        }

        .bulma {
            color: #00d1b2;
            font-weight: 800;
        }
    }
}